<h1> Welcome to my website! </h1>

{{template "lorem-ipsum" }}

{{define "lorem-ipsum"}}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
{{end}}
